

<div class="col s12 m8 offset-m2 l6 offset-l3">
<div class="card-panel z-depth-0">
    <div class="row valign-wrapper center-align">
		<h1 class="col s12">FAQ Bot Builder</h1>
    </div>
    <div class="row valign-wrapper">
		<a class="col s6 offset-s3 btn btn-primary blue" href="/login/facebook">Login to Facebook</a>
    </div>
</div>
</div>
<div class="row">
<button class="col s12 waves-effect waves-light btn modal-trigger" href="#modal1">Modal</button>
</div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>
